
<div class="flex h-1/2 ">
    <div class="w-1/4  border-b text-white ml-4 mt-4">
      <nav>
        <ul>
          <li class="p-4 gap-3 bg-primary-300 text-xl font-semibold cursor-pointer border-b border-gray-300">
            <a routerLink="/profile" routerLinkActive="font-semibold">My profile</a>
          </li>
          <li class="p-4 gap-3 text-black cursor-pointer text-base font-medium border-b border-gray-300">
            <a routerLink="/payments-history" routerLinkActive="font-semibold">Payments history</a>
          </li>
          <li class="p-4 gap-3 text-black cursor-pointer text-base font-medium border-b border-gray-300">
            <a routerLink="/settings" routerLinkActive="font-semibold">Settings</a>
          </li>
          <li class="p-4 gap-3 text-black cursor-pointer text-base font-medium border-b border-gray-300">
            <a routerLink="/change-password" routerLinkActive="font-semibold">Change password</a>
          </li>
        </ul>
      </nav>
    </div>