<div class="flex-1 ml-4 mt-4 p-8 w-3/4 bg-gray-30 shadow-md rounded-lg">
    <h1 class="text-small-title2 font-semibold  mb-4">My Profile</h1>
   <span class="text-h1 font-semibold mb-4 ">10000</span>  
    <span class="text-h1 ml-2 font-semibold text-primary-300">$</span> 
    <span class="text-primary-300 text-small-title1 font-semibold ml-2">Balance</span>
   
    <div class="grid grid-cols-2  gap-4 text-lg">
      <div class="font-medium">First Name:</div>
      <div class="text-gray-600">Jonathon Smith</div>
      <div class="font-medium">Email:</div>
      <div class="text-gray-600">jhonathonsmithgmail.com</div>
      <div class="font-medium">Phone:</div>
      <div class="text-gray-600">+880125412624</div>
      <div class="font-medium">Gender:</div>
      <div class="text-gray-600">Male</div>
    </div>
  </div>
