<header class="bg-gray-0 h-[71px] flex items-center">
  <div class="mx-auto flex justify-between items-center w-[90%]">
    <a href="#" class="text-small-title font-semibold text-gray-900"
      >Speedo Transfer</a
    >
    <nav class="space-x-8">
      <a href="#" class="text-gray-700 text-body font-medium">Home</a>
      <a href="#" class="text-gray-700 text-body font-medium">Money Transfer</a>
      <a href="#" class="text-gray-700 text-body font-medium">My Account</a>
      <button
        (click)="toLogin()"
        class="px-4 h-[46px] rounded-md border-[1px] border-gray-900 text-gray-900 text-body font-medium"
      >
        Login
      </button>
      <button
        (click)="toRegister()"
        class="bg-primary-300 px-4 h-[46px] rounded-md text-gray-0 text-body font-medium"
      >
        Register Now
      </button>
    </nav>
  </div>
</header>
