<header class="bg-white shadow">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <a href="#" class="text-2xl font-bold text-gray-800">Speedo Transfer</a>
    <nav class="space-x-4">
      <a href="#" class="text-gray-600">Home</a>
      <a href="#" class="text-gray-600">Money Transfer</a>
      <a href="#" class="text-gray-600">My Account</a>
      <button class="px-4 py-2 rounded border-[1px] border-gray-900">
        Login
      </button>
      <button class="bg-primary-300 text-white px-4 py-2 rounded">
        Register Now
      </button>
    </nav>
  </div>
</header>
