<section class="bg-cover bg-center h-screen w-full bg-hero">
  <div class="container mx-auto flex items-center justify-around h-full">
    <div class="text-gray-0 w-[44%]">
      <p class="text-paragraph font-semibold">Simple. Quick. Secure.</p>
      <h1 class="text-h1 font-semibold">Send Money</h1>
      <h1 class="text-h1 font-bold">Anywhere, Instantly</h1>
      <p class="mt-4 w-[67%] text-body font-medium">
        Fast, secure, and affordable international money transfers. Get started
        in minutes
      </p>
      <button
        class="mt-6 bg-primary-300 px-6 py-3 rounded text-body font-medium"
      >
        Create An Account
      </button>
    </div>
    <div class="w-[33%] bg-gray-0"></div>
  </div>
</section>
