<nav class="text-white bg-[#FAFBFB] h-full">
  <ul class="h-full">
    <a routerLink="profile"
      ><li
        class="p-4 gap-3 bg-primary-300 text-xl font-semibold cursor-pointer border-b border-r border-gray-30 hover:bg-primary-400"
      >
        My profile
      </li></a
    >
    <a routerLink="payment-history"
      ><li
        class="p-4 gap-3 text-black cursor-pointer text-base font-medium border-b border-r border-gray-30 hover:bg-gray-50"
      >
        Payments history
      </li></a
    >
    <a routerLink="switch/settings"
      ><li
        class="p-4 gap-3 text-black cursor-pointer text-base font-medium border-b border-r border-gray-30 hover:bg-gray-50"
      >
        Settings
      </li></a
    >
    <a routerLink="switch/change-password"
      ><li
        class="p-4 gap-3 text-black cursor-pointer text-base font-medium border-b border-r border-gray-30 hover:bg-gray-50"
      >
        Change password
      </li></a
    >
  </ul>
</nav>
